<div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="card border-secondary mb-3" style="max-width: 30rem;">
            <div class="card-header">Perfil</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Login:                 {{userLogin}}</p>
              <p class="card-text">Nombre:                {{userName}}</p>
              <p class="card-text">Autoridad del usuario: {{userAuthorities}}</p>
              <p class="card-text">Actividad del usaurio: {{userActivated}}</p>
              <p class="card-text">Email:                 {{userEmail}}</p>
            </div>
          </div>
    </div>
</div>
