
.container
    margin-top 2em
.passwordUser
    margin-top 1em     
.buttonContainer
    margin-bottom .8em
.tittle
    color white    
.buttonLogin
    background-color #05688f
    padding 0 5% 0 5%
    
.bodyCard
    position relative
    left 34%
  /*  
.login-image
    background-image url('../../../assets/login/Bicicletas.jpg')
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
*/


