<div class="login-image">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="card text-center bodyCard" style="width: 18rem;">
                    <div class="card-header bg-dark">
                        <h4 class="tittle">Login</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="LoginFormGroup" (ngSubmit)="login()">
                            <div class="form-group">
                                <p class="card-text emailUser">Username</p>
                                <input type="text" autocomplete="off" formControlName="username" name="username">
                                <p class="card-text passwordUser">Password</p>
                                <input type="password" formControlName="password" name="email" id="password"
                                    name="password">
                            </div>
                            <div class="buttonContainer">
                                <button type="submit" class="btn btn-lg buttonLogin"
                                    [disabled]="LoginFormGroup.invalid">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>