<p>bikes-create works!</p>
<!--
<div>
    <form [formGroup]="formSearchBike" (ngSubmit)="searchBike()">

        <label for="">Buscador</label>
        <input type="text" formControlName="serial" (blur)="searchBike()">
        <button type="submit">Buscar</button>
    </form>

    <p *ngIf="bike.length > 0" >{{bike | json}}</p>

    <p *ngIf="statusSearchSerial" class="alert" >La bicicleta no se encuentra con este número de serial</p>
</div>
-->
<form [formGroup]="BikeFormGroup" novalidate (ngSubmit)="saveBike()">

    <div>
        <label for="">Model</label>
        <input type="text" formControlName="model" name="model">
        <div *ngIf="BikeFormGroup.get('model').invalid && 
        (BikeFormGroup.get('model').dirty || BikeFormGroup.get('model').touched)  ">
            <div *ngIf="BikeFormGroup.get('model').errors.required">
                <p class="error-validate">El campo es requerido</p>
            </div>
            <div *ngIf="BikeFormGroup.get('model').errors.maxlength">
                <p class="error-validate">El campo debe contener máximo 4 caracteres</p>
            </div>
        </div>

    </div>

    <div>
        <label for="">Price</label>
        <input type="text" formControlName="price" name="price">
    </div>

    <div>
        <label for="">Serial</label>
        <input type="text" formControlName="serial" name="serial">
    </div>

    <button type="submit" [disabled]="BikeFormGroup.invalid">Guardar</button>
</form>