<p>sales-list works!</p>

<div>
    <form [formGroup]="formSearchClients">

<!--   <label for="">Buscador</label>
    <input type="text" autocomplete="off" formControlName="document" (keyup)="searchClient()" name="document">
-->
    <p-autoComplete formControlName="document"
    fild="clientName"
     [suggestions]="clientsList"
     (onSelect) = "selectClient"
      (completeMethod)="searchClient($event)">

     <ng-template let-brand pTemplate="item">
          <div>
            <div>{{brand.name}}</div>
        </div>
    </ng-template>

    <ng-template let-value pTemplate="selectedItem">
        <span style="font-size:18px">{{value.clientName}}</span>
    </ng-template>
    </p-autoComplete>
    
</form>
</div>
<br>

<table class="table table-light" class="tableClass">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Price</th>
            <th>Serial</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bike of bikesList">
            <td>{{bike.id}}</td>
            <td>{{bike.model}}</td>
            <td>{{bike.price}}</td>
            <td>{{bike.serial}}</td>
            <td>
                <button (click)="addToCar(bike)" >Agregar al carrito</button>
            </td>
        </tr>
    </tbody>
</table>
<br>

<table class="table table-light" class="tableClass">
        <thead>
        <tr>
            <th>Serial</th>
            <th>Model</th>
            <th>Price</th>
            <th>Client ID</th>
            <th>Client Name</th>
        </tr>
    </thead>
        <tr *ngFor="let bikes of salesListCarsTwo">
            <td>{{bikes.bikeSerial}}</td>
            <td>{{bikes.bike.model}}</td>
            <td>{{bikes.bike.price}}</td>
            <td>{{bikes.clientId}}</td>
            <td>{{bikes.clientName}}</td>
        </tr>
        <tr>
            <!--<td>
                <button (click)="confirmSale()" >Confirmar compra</button>
            </td>-->
            
        </tr>
    <tbody>
        <thead>
            <tr>
                <th>Total price</th>
            </tr>
        </thead>
        <tr>
        <td>{{ total | currency }}</td>
    </tr>
    </tbody>
</table>