<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/imagesBike/Powerfly5EU_19_23179_A_Portrait.jpeg" class="d-block w-100" alt="...">
        <div>
            <h3 class=""></h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imagesBike/roscoe6_19_24011_b_portrait.jpg" class="d-block w-100" alt="...">
        <div>
            <h3 class=""></h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imagesBike/Roscoe6WSD_19_24067_A_Portrait.jpeg" class="d-block w-100" alt="...">
        <div>
            <h3 class=""></h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
