<h1>Bikes List</h1>

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="col">Id </th>
                        <th class="col">Model</th>
                        <th class="col">Price</th>
                        <th class="col">Serial</th>
                        <th class="col">Selecionar</th>
                        <th class="col">Eliminar</th>
                    </tr>
                </thead>
                <tr *ngFor="let item of bikesList">
                    <th class="col">{{ item.id }}</th>
                    <th class="col">{{ item.model }}</th>
                    <th class="col">{{ item.price }}</th>
                    <th class="col">{{ item.serial }}</th>
                    <td><button class="buttonDeleted" (click)="deleteItem(item.id)">Eliminar</button></td>
                </tr>
            </table>
            <br>

            <div>
                <button (click)="initPagination(i)" *ngFor="let item of listPages; index as i">{{i+1}}</button>
                <!--<p-paginator [row]="10" [totalRecords]="100" (onPageChange)="loadingPagenation($event"></p-paginator> -->
            </div>
        </div>
    </div>
</div>