<header id="Header-container">
    <div class="container">
        <div class="row Header-container-AlignV">
            <div class="col-6">
                <h1>Adsi Store</h1>
            </div>

                <div class="col-4 text-right">
                    <a href="" class="text-uppercase font-weight-body">{{account}}</a>
                </div>
                <div class="col-2">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" [routerLink]="['../profile']"><i
                                    class="fas fa-users"></i></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item logOut" (click)="Logout()"><i
                                    class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    <nav class="MainMenu">
        <ul class="MainMenu-list">
            <li class="MainMenu-list"><a class="MainMenu-link" [routerLink]="['/bikes/bikes-list']"
                    *appHasAnyAuthority="'ROLE_ADMIN'">Bikes List</a></li>
            <li class="MainMenu-list"><a class="MainMenu-link" [routerLink]="['/bikes/bikes-create']"
                    *appHasAnyAuthority="'ROLE_ADMIN'">Bikes Create</a></li>
            <li class="MainMenu-list"><a class="MainMenu-link" [routerLink]="['/bikes/bikes-update']"
                    *appHasAnyAuthority="'ROLE_ADMIN'">Bikes Update</a></li>
            <li class="MainMenu-list"><a class="MainMenu-link" [routerLink]="['/clients/clients-list']">Clients List</a>
            </li>
            <li class="MainMenu-list"><a class="MainMenu-link" [routerLink]="['/clients/clients-create']">Clients
                    Create</a></li>
            <li class="MainMenu-list"><a class="MainMenu-link" [routerLink]="['/sales/sales-list']">Sales</a></li>
        </ul>
    </nav>
    <app-slide></app-slide>
</header>