<div class="row">
    <div class="col-lg-2">
        <a [routerLink]="['../sales']">Catalogo</a> 
        <a [routerLink]="['../sales/sales-list']">Ventas</a> 
        <a [routerLink]="['../sales/sales-list']">Reportes</a> 
        <a [routerLink]="['../sales/sales-list']">Nuevos Productos</a> 
        <a [routerLink]="['../sales/sales-list']">Proveedores</a> 
    </div>
    <div class="col-lg-2">
        <router-outlet></router-outlet>
    </div>
</div>
