<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th class="col">Id</th>
                    <th class="col">Name</th>
                    <th class="col">Document</th>
                    <th class="col">Email</th>
                    <th class="col">PhoneNumber</th>
                    <th class="col">DocumentType</th>
                </tr>
            </thead>
                <tr *ngFor="let item of clientsList">
                    <th class="col">{{ item.id }}</th>
                    <th class="col">{{ item.name }}</th>
                    <th class="col">{{ item.document }}</th>
                    <th class="col">{{ item.email }}</th>
                    <th class="col">{{ item.phoneNumber }}</th>
                    <th class="col">{{ item.documentType }}</th>
                </tr>
            </table>
        </div>
    </div>
</div>